<div class="WF hide-on-med-and-down wow bounceIn">
    <div class="WFimg"><img src="__index__/image/WF-1.png" alt=""></div>
    <a href="{:url('index/cate/index','id=19')}" class="Wa1"><i class="WFicon1"></i><p>特色专科</p></a>
    <a href="{:url('index/doctor/lst')}"><i class="WFicon2"></i><p>专家介绍</p></a>
    <a href="http://222.88.154.53:8088/"><i class="WFicon3"></i><p>预约挂号</p></a>
    <a href="{:url('index/about/index','id=3')}"><i class="WFicon4"></i><p>联系我们</p></a>
    <div class="WFer"><img src="__index__/image/erweima.png" alt=""></div>
</div>